// variables
$website-width: 1218px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$bg-image: url('../dist/img/showcase.jpg');

//Set test color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return #fff;
  }
}
